/* Common styles */

body {
  color: #434455;
  font-family: Roboto, sans-serif;
  background: #fff;
}
ul,
ol {
  list-style-type: none;
}

/* Header 2 */
.title {
  color: #2e2f42;
  text-align: center;
  font-family: Roboto;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
/* Header 3 */
.subtitle {
  width: 264px;
  color: #2e2f42;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
/* p */
.text {
  color: #434455;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* Header - Section - Top Line */
.header .menu-nav {
  border-bottom: 1px solid #e7e9fc;
  background: #fff;
}
.logo {
  color: #4d5ae5;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
}
.logo-dark {
  color: #2e2f42;
}
.header-list .link-nav {
  color: #2e2f42;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.header-list .link-nav:hover,
.header-list .link-nav:focus {
  color: #404bbf;
}
.header-list .link-nav:active {
  text-decoration: underline;
}

.contacts {
  color: #434455;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.contacts .contact-link:hover,
.contacts .contact-link:focus {
  color: #404bbf;
}

/* Hero Section */
.hero {
  background-color: #2e2f42;
}
.hero-title {
  color: var(--WHITE, #fff);
  text-align: center;
  font-family: Roboto;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
}
.hero-btn {
  background-color: #4d5ae5;
  color: #fff;
  /* Button Text */
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
}
.hero-btn:hover,
.hero-btn:focus {
  background-color: #404bbf;
}

/*Feature Section  */
.features {
}
.features-list {
}
.feature-list .features-list-item {
}

/* Team Section */
.team {
  background-color: #f4f4fd;
}
.team-list {
}
.team-list-item {
}
.team-card {
}

/* Portfolio Section */
.portfolio {
  background-color: #fff;
}
.portf-list {
}
.portf-list-item {
}
.portf-img {
}

/* Footer */
.footer {
  background-color: #2e2f42;
}
.logo {
  color: #4d5ae5;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
}
.logo-light {
  color: #f4f4fd;
}
.footer-text {
  color: #f4f4fd;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
